.main-container{

    background-color: #f4f1de;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #3d405b;
    padding: 1em;
}

.post-dog-btn{
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #3d405b;
    cursor: pointer;
    background-color: #f4f1de;
}

.post-dog-btn:hover{
    color: #e07a5f;
    background-color: #f4f1de;
}

.delete-dog-btn{
    border: none;
    padding: 3px;
    border-radius: 4px;
    color: #3d405b;
    cursor: pointer;
    background-color: #f4f1de;
    margin-top: 5px;
    width: 100%;
}
.delete-dog-btn:hover{
    color: #e07a5f;
    background-color: #3d405b;
    
}

.contact-btn{
    border: none;
    color: #ffffff;
    background-color: #f4f1decf;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.contact-btn:hover{
    color: #e07a5f;
    background-color: #f4f1de;
}
.dog-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:2em;
    width: 100%;
}

.dog-card {
    margin: 10px;
    border: 1px solid #f4f1de;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 350px ;
    background-color: #e07a5f;
    color: #f4f1de;
}

.dog-card img {
    max-width: 200px;
    max-height:200px;
}

.dog-img{
    background-color: #f4f1de;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 5px;
    margin-bottom: 5px;
}

.dog-info p{
    text-align: left;
}
.dog-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.dog-modal-content {
    background: #f4f1de;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    position: relative;
    color: #e07a5f;
}

.dog-modal-content h2{
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #e07a5f;
}

.dog-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.dog-images img {
    max-width: 400px;
    max-height: 400px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #e07a5f;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    background-color: transparent;
    user-select: none;
    border: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
   color: #d93c11;
}


.filter-options{
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.filter-options input[type="text"]{
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.filter-options button{
    height: fit-content;
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: #3d405b;
    cursor: pointer;
    background-color: #f4f1de;
    margin: 10px;
}

.filter-options button:hover{
    color: #e07a5f;
    background-color: #f4f1de;
}


.react-select{
    width: fit-content;
    padding:10px;
    font-size: small;
}

.pagination-container {
    color: #e07a5f;
    text-align: center;
}

.pagination-container button{
    color: #e07a5f;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
}

.pagination-container button:hover{
    color: #3d405b;
    
}


@media (max-width: 768px) {
   

    .dog-cards-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1em;
    }

    .react-select{
        padding:0;
        width: 100%;
        margin-right: 5px;
    }
    .dog-card {
        width: 90%;
        max-height: none;
    }

    .dog-card img{
        width: 100%;
        max-height: 100%;
    }

    .dog-images img {
        width: 100%;
        height: 100%;
    }

    .filter-options input[type="text"],
    .filter-options button {
        width: 100%;
        margin: 0px 5px 0px 0px;
    }
}

@media (max-width: 480px) {

    .options{
        flex-direction: column;
    }

    .dog-cards-container {
        grid-template-columns: 1fr;
    }

    .dog-card img {
        max-width: 100%;
        max-height: 150px;
    }

    .dog-modal-content {
        width: 95%;
    }

    .dog-images img {
        max-width: 90%;
        max-height: 300px;
    }

    .prev, .next {
        padding: 10px;
        font-size: 16px;
    }
    .filter-options{
        margin-bottom: 5px;
        flex-direction: column;

    }

    .filter-options .react-select{
        padding: 0%;
        font-size: small;
        width: 100%;
    }

    .filter-options input[type="text"],
    .filter-options button {
        width: 100%;
        margin: 5px;
    }
}