.forgotPasswordPage{
    background-color:  #f4f1de6d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordCard{
    height: fit-content;
    background-color: hsl(234, 20%, 30%);
    color: #f4f1de;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgotPasswordForm input[type="email"]{
    width: 300px;
    height: 35px;
    border-radius: 4px;
    margin: 5px 0 0 0;
    padding: 10px;
    border: none;
}
.forgotPasswordCard h1{
    text-align: center;
}
.forgotPasswordForm{
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .forgotPasswordPage{
       width: 100%;
    }
    .forgotPasswordCard h1{
        font-size: 20px;
    }
    .forgotPasswordForm input[type="email"]{
        width: 300px;
        height: 35px;
        border-radius: 4px;
        margin: 5px 0 0 0;
        padding: 10px;
        border: none;
    }
    .forgotPasswordForm button{
        width: 300px;
    }
    
}

@media (max-width: 480px) {
    .forgotPasswordPage{
        width: 100%;
     }
     .forgotPasswordCard{
         width: 300px;
 
     }
     .forgotPasswordForm input[type="email"]{
        width: 220px;
        
    }
     .forgotPasswordForm button{
         width: 220px;
     }
     .forgotPasswordCard h1{
         font-size:16px;
     }
}