.resetPasswordPage{
    background-color:  #f4f1de6d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.resetPasswordCard{
    background-color:#3d405b ;
    color: #f4f1de;
    padding: 20px 40px 40px 40px;
    width: 400px;
    border-radius: 10px;
    
}

.resetPasswordCard h1{
    text-align: center;
}
.resetPasswordCard button{
    margin-top: 10px;
    height: 37px;
}

.resetPasswordForm{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

@media (max-width: 480px) {
    .resetPasswordCard{
       
        padding: 10px;
        width: 300px;
        border-radius: 10px;
        
    }
    .resetPasswordCard form input[type="password"],
    .resetPasswordCard form input[type="email"],
    .resetPasswordCard form input[type="text"],
    .resetPasswordCard form button{
        width: 260px;
    }
    .resetPasswordCard h1{
        font-size: 16px;
    }
    
}