* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #e07a5f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bars {
  margin-right: 2rem;
  font-size: 2rem;
  background: none;
  color: #f4f1de;
}
  
.nav-menu {
  background-color: #e07a5f;
  width: 250px;
  position: absolute;
  top: 60px;
  right: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  z-index: 1;
  border-radius: 0 0 4px 4px;
}
  
.nav-menu.active {
  max-height: 400px;
}
  
.nav-menu-items {
  width: 100%;
  list-style: none;
}
  
.nav-menu-items li {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
}
  
.nav-menu-items li a {
  text-decoration: none;
  color:  #f4f1de;
  font-size: 18px;
  width: 100%;
  padding: 10px;
}
  
.nav-menu-items li a:hover {
  background-color: #f4f1de2f;
  height: 50px;
}

.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn{
  border:none;
  border-radius: 4px;
  width: 50%;
  height: 50%;
  background-color: #f4f1decf;
  color: white;
  cursor: pointer;
  margin-left: 25%;
}

.logout-btn:hover{
  color: #e07a5f;
  
}

@media (max-width: 768px) {
    .navbar {
        height: 50px;
    }

    .menu-bars {
        margin-right: 1rem;
        font-size: 1.5rem;
    }

    .nav-menu {
        width: 200px;
    }

    .nav-menu-items li {
        height: 50px;
    }

    .nav-menu-items li a {
        font-size: 16px;
    }
    .logo img{
        max-width: 35px;
    }
}

@media (max-width: 480px) {
    .navbar {
        height: 40px;
    }

    .menu-bars {
        margin-right: 0.5rem;
        font-size: 1.2rem;
    }

    .nav-menu {
        width: 150px;
    }

    .nav-menu-items li {
        height: 40px;
    }

    .nav-menu-items li a {
        font-size: 14px;
    }

    .logo h1{
        font-size:20px ;
    }
    .logo img{
        max-width: 30px;
    }
}